<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Menu</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="/public/getUser.js"></script>
</head>

<body>
    <!--Start of Navbar section-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"><i class="fas fa-stroopwafel"></i>Demo</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/public/index.html" class="navbar__links">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="http://localhost:3000/items/admin" class="navbar__links">Menu</a>
                </li>
                <li class="navbar__item">
                    <a href="/public/about.html" class="navbar__links">About Us</a>
                </li>
                <li class="navbar__btn">
                    <a id='username' href="/public/login.html" class="button">LOGIN</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--End Navbar section-->
    <!--Start of Main page section-->
    <div class="menu__container">

        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Burger')">Burger</button>
            <button class="tablinks" onclick="openCity(event, 'Pasta')">Pasta</button>
            <button class="tablinks" onclick="openCity(event, 'Pizza')">Pizza</button>
            <button class="tablinks" onclick="openCity(event, 'Beverage')">Beverage</button>
        </div>

        <!-- Tab content -->
        <div id="Burger" class="tabcontent">
            <section class="container content-section">
                <h2 class="section-header">Burger</h2>
                <table>
                    <tr>
                        <td>
                            <img src="/public/images/burger1.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                        <td>
                            <img src="/public/images/burger2.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                        <td>
                            <img src="/public/images/burger3.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                        <td>
                            <img src="/public/images/burger4.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                    </tr>
                </table>
                <p class="section-description">
                    Some description about burgers
                </p>
                <div class="shop-items">
                    <%menu.forEach(item=> {%>
                        <%if(item.item_category=="burger"){%>
                            <div class="shop-item">
                                <strong class="shop-item-title">
                                    <%= item.item_name%>
                                </strong>
                                <div class="shop-item-details">
                                    <p class="shop-item-price">
                                        <%= item.item_price%>
                                    </p>
                                    <p>
                                        <%= item.item_details%>
                                    </p>
                                    <p display="none">
                                        <%= item._id%>
                                    </p>
                                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                                </div>
                            </div>
                            <%}%>
                                <%})%>
                </div>
            </section>
        </div>

        <div id="Pasta" class="tabcontent">
            <section class="container content-section">
                <h2 class="section-header">Pasta</h2>
                <table>
                    <tr>
                        <td>
                            <img src="/public/images/pasta1.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                        <td>
                            <img src="/public/images/pasta2.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                        <td>
                            <img src="/public/images/pasta3.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                        <td>
                            <img src="/public/images/pasta4.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                    </tr>
                </table>
                <p class="section-description">
                    Some description about pastas
                </p>
                <div class="shop-items">
                    <%menu.forEach(item=> {%>
                        <%if(item.item_category=="pasta"){%>
                            <div class="shop-item">
                                <strong class="shop-item-title">
                                    <%= item.item_name%>
                                </strong>
                                <div class="shop-item-details">
                                    <p class="shop-item-price">
                                        <%= item.item_price%>
                                    </p>
                                    <p>
                                        <%= item.item_details%>
                                    </p>
                                    <p display="none">
                                        <%= item._id%>
                                    </p>
                                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                                </div>
                            </div>
                            <%}%>
                                <%})%>
                </div>
            </section>
        </div>

        <div id="Pizza" class="tabcontent">
            <section class="container content-section">
                <h2 class="section-header">Pizza</h2>
                <table>
                    <tr>
                        <td>
                            <img src="/public/images/pizza1.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                        <td>
                            <img src="/public/images/pizza2.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                        <td>
                            <img src="/public/images/pizza3.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                        <td>
                            <img src="/public/images/pizza4.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                    </tr>
                </table>
                <p class="section-description">
                    Some description about Pizzas
                </p>
                <div class="shop-items">
                    <%menu.forEach(item=> {%>
                        <%if(item.item_category=="pizza"){%>
                            <div class="shop-item">
                                <strong class="shop-item-title">
                                    <%= item.item_name%>
                                </strong>
                                <div class="shop-item-details">
                                    <p class="shop-item-price">
                                        <%= item.item_price%>
                                    </p>
                                    <p>
                                        <%= item.item_details%>
                                    </p>
                                    <p display="none">
                                        <%= item._id%>
                                    </p>
                                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                                </div>
                            </div>
                            <%}%>
                                <%})%>
                </div>
            </section>
        </div>

        <div id="Beverage" class="tabcontent">
            <section class="container content-section">
                <h2 class="section-header">Beverage</h2>
                <table>
                    <tr>
                        <td>
                            <img src="/public/images/drink1.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                        <td>
                            <img src="/public/images/drink2.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                        <!-- <td>
                            <img src="/public/images/burger3.jpg" class="shop-item-image" alt="Burger Picture">
                        </td>
                        <td>
                            <img src="/public/images/burger4.jpg" class="shop-item-image" alt="Burger Picture">
                        </td> -->
                    </tr>
                </table>
                <p class="section-description">
                    Some description about beverages
                </p>
                <div class="shop-items">
                    <%menu.forEach(item=> {%>
                        <%if(item.item_category=="drink"){%>
                            <div class="shop-item">
                                <strong class="shop-item-title">
                                    <%= item.item_name%>
                                </strong>
                                <div class="shop-item-details">
                                    <p class="shop-item-price">
                                        <%= item.item_price%>
                                    </p>
                                    <p>
                                        <%= item.item_details%>
                                    </p>
                                    <p display="none">
                                        <%= item._id%>
                                    </p>
                                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                                </div>
                            </div>
                            <%}%>
                                <%})%>
            </section>
        </div>

        <section class="cart__bottom">
            <h2 class="section-header-cart"><i class="fas fa-shopping-cart"></i>Cart</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <form action="/orders/new" method="POST">
                <div class="cart-items">
                </div>
                <div class="cart-total">
                    <strong class="cart-total-title">Total</strong>
                    <span class="cart-total-price">$0</span>
                </div>

                <a href="/public/to-go-complete.html" class="to-go-cart-complete">
                    <button class="btn btn-primary btn-purchase" type="submit"><i
                            class="fas fa-money-bill-wave"></i>Purchase</button> </a>
                <span id="error"><span></span>

                    <!--Hidden values for customer info-->
                    <input id="name" type="hidden" name="customer_name" value>
                    <input id="contact" type="hidden" name="customer_contact" value>
            </form>
        </section>
        <!--End of Main page section-->
        <script src="/public/cart1.js"></script>
        <script src="/public/resNavbar.js"></script>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script>
    var resError = "";
    resError = Cookies.get("resError");
    if (resError || resError === "undefined") {
        document.getElementById('error').innerHTML = resError;
    }
    document.getElementById('name').value = Cookies.get("name");
    document.getElementById('contact').value = Cookies.get("contact");
</script>